# OpenAI Configuration
OPENAI_API_KEY="xxxxxxxxxxxxxxxx"
base_url="https://api.groq.com/openai/v1"

# Tavily Search Configuration
TAVILY_API_KEY="xxxxxxxxxxxxxxxxxxxx"


HUGGINGFACE_HUB_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxx"

